*{
  margin: 0;
  padding: 0;
}

body{
  font-family: "Space Grotesk", sans-serif;
}

.header{
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #007BFF;
  color: #fff;
}

.header h1{
  font-size: 80px;
  font-style: ;
}

.imgcrd{

  border: 2px solid #007BFF;
  border-radius: 20px;
}

.imgcrd img{
  height: 300px !important;
}

ul li{
  text-decoration: ;
}